/** @jsx jsx */
import { jsx, css } from '@emotion/core';
import React from 'react';

interface Props {};

const styles = css``;

const {{pascalCase name}}: React.FC<Props> = () => {
  return (
  <div css={styles}>
  </div>
);
};


export default {{pascalCase name}};
