@import "../../appStyles/variables";
@import "../MobileMenu/mobileMenuVariables";


.toolbar {
  background-color: $appColor1;
  color: $fontColorWhite;
  height: $toolbarHeight;
  z-index: 200;
  box-sizing: border-box;

  button {
    background-color: transparent;
    margin-top: 3px;
    margin-left: 3px;
    padding: 10px 15px;
    border: none;
    // margin-bottom: 10px;
    cursor: pointer;
    color: $fontColorWhite;
  }
}
