@import "../../appStyles/variables";

.toolbar {
  background-color: $appColor1;
  color: $fontColorWhite;
  height: 40px;

  button {
    background-color: transparent;
    margin: 0;
    padding: 7px 10px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    color: $fontColorWhite;
  }
}
