@import "../../appStyles/variables";
@import "../MobileMenu/mobileMenuVariables";

.sideDrawer {
  position: absolute;
  left: calc(#{$sideDrawerWidth} * -1);
  top: $toolbarHeight;
  width: $sideDrawerWidth;
  min-height: 600px;
  background-color: $appColor1;
  z-index: 200;
  transition: transform 0.3s ease-out;
}

.open {
  transform: translateX($sideDrawerWidth);
}

.closed {
  transform: translateX(0);
}
