@import "../../appStyles/variables";

.sideDrawerMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  height: 60px;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 20px;
  border: none;
  background-color: transparent;
  color: inherit;


  .showChildMenuButton {
    margin-right: 10px;
  }
}

.headingItemColor {
  background-color: $appColor1;
}

.sideDrawerMenuItem:hover {
  background-color: $appColor3;
}
