@import "../../appStyles/variables";
@import "../MobileMenu/mobileMenuVariables";
.sideDrawerMenu {
  display: flex;
  flex-direction: column;
}

.childMenu {
  background-color: $appColor2;
  transition: transform 0.5s ease-out !important;
  position: relative;
  left: -200px;
}

.open {
  transform: translateX(200px);
}

.closed {
  transform: translateX(0);
}
