@import "../../appStyles/variables";
@import "../MobileMenu/mobileMenuVariables";
.sideDrawerMenu {
  display: flex;
  flex-direction: column;
}

.childMenu {
  background-color: $appColor2;
}

.childMenuDynamic {
  background-color: red;
  position: relative;
  left: -200px;
}

.open {
  animation: slide-in 0.3s ease 0s 1 normal forwards;
}

.closed {
  animation: slide-out 0.3s ease 0s 1 normal forwards;
}

@keyframes slide-in {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  0% {
    left: 0px;
  }
  100% {
    left: -200px;
  }
}
