@import "../MobileMenu/mobileMenuVariables";

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  top: $toolbarHeight;
  background-color: rgba(100, 100, 100, 0.5);
}
